<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Properties>
        <!-- Set log path to a directory that your application has access to -->
        <Property name="log-path">./logs</Property> <!-- Local directory for logs -->
    </Properties>
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %level %c{1}: %msg%n" />
        </Console>

        <!-- Rolling File Appender -->
        <RollingFile name="tasks" fileName="${log-path}/hospital.log"
                     filePattern="${log-path}/hospital-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level %c{1}: %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <!-- This triggers a new log file every day -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
            <DefaultRolloverStrategy max="100" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Configure specific loggers to show only error logs -->
        <logger name="org.springframework" level="error"/>
        <logger name="org.hibernate" level="error"/>
        <logger name="org.apache" level="error"/>
        <logger name="com.zaxxer" level="error"/>
        <logger name="_org.springframework" level="error"/>

        <!-- Root logger, capture debug logs and above -->
        <Root level="debug">
            <AppenderRef ref="tasks" level="debug"/>
            <AppenderRef ref="Console" level="debug"/>
        </Root>
    </Loggers>
</Configuration>
